<div class="sidebar">
    <h1>Perfil de estudiante</h1>
    <img src="/assets/oliver.jpg" alt="Foto del Estudiante" class="student-photo">

    <div class="info-container">
        <p>Nombre: Oliver Armando</p>
    <p>Apellidos: Ibarra López</p>
    <p>Carnet: 5390-21-6734</p>
    <p>Teléfono: 4506-8464</p>
    <p>Actualmente trabajo como: Analista de Monitoreo para Pepsi</p>
    <p>Me gustaría trabajar como programador</p>
    <p>Mi objetivo es aprender y poner en práctica mis conocimientos</p>
    <p>Habilidades Técnicas: Angular, Java</p> 
    <p>Contacto: olailz10.3&#64;gmail.com</p>
    </div>
    
    <button (click)="navigateHome()">Inicio</button>
  </div>
  
